# 로그 파일
logs/
*.log

# 환경 변수 파일
*.env
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
build/
.gradle/
*.gradle.bak


# # Application configuration
# **/application.yml
# **/application.yaml
# **/application-*.yml
# **/application-*.yaml
/logs/
/out/
*.pid
*.log
*.class
# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db
